# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Flask instance folder
instance/

# Database
*.db
*.sqlite3

# Upload files
uploads/

# Virtual environments
venv/
env/
.venv/

# Logs
*.log

# VS Code
.vscode/

# Mac / Windows system files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# Testing cache
.pytest_cache/
.mypy_cache/